
Template/bin/Debug/netcoreapp3.0/Template.deps.json
Template/bin/Debug/netcoreapp3.0/Template.dll
Template/bin/Debug/netcoreapp3.0/Template.exe
Template/bin/Debug/netcoreapp3.0/Template.pdb
Template/bin/Debug/netcoreapp3.0/Template.runtimeconfig.dev.json
Template/bin/Debug/netcoreapp3.0/Template.runtimeconfig.json
Template/obj/Debug/netcoreapp3.0/Template.AssemblyInfo.cs
Template/obj/Debug/netcoreapp3.0/Template.AssemblyInfoInputs.cache
Template/obj/Debug/netcoreapp3.0/Template.assets.cache
Template/obj/Debug/netcoreapp3.0/Template.csproj.FileListAbsolute.txt
Template/obj/Debug/netcoreapp3.0/Template.csprojAssemblyReference.cache
Template/obj/Debug/netcoreapp3.0/Template.dll
Template/obj/Debug/netcoreapp3.0/Template.exe
Template/obj/Debug/netcoreapp3.0/Template.pdb
Template/obj/project.assets.json
Template/obj/Template.csproj.nuget.cache
Template/obj/Template.csproj.nuget.dgspec.json
Template/obj/Template.csproj.nuget.g.props
Template/obj/Template.csproj.nuget.g.targets
